<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Courswork</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="main">
			<div class="conteiner">
				<div class="main__body">


					<div class="forms">
						<div class="form">
							<form name="search_category">
								<div class="form__item">
									<div class="form__label">Категории:</div>
									<select name="category" class="select"></select>
								</div>
								<div class="form__item">
									<div class="form__label">Дата:</div>
									<select name="date" class="select">
										<option value="DESC" selected>Спадание</option>
										<option value="ASC">Возрастание</option>
									</select>
								</div>
								<div class="form__item">
									<div class="form__label">Цена:</div>
									<select name="price" class="select">
										<option value="DESC">Спадание</option>
										<option value="ASC" selected>Возрастание</option>
									</select>
								</div>
								<button class="button" type="submit" id="search-category">Применить</button>
							</form>
						</div>
						<div class="form">
							<form name="search_goods">
								<div class="form__item">
									<label for="formName" class="form__label">Номер товара:</label>
									<input id="formName" type="number" min="0" step="1" value="0" name="goods" class="form__input">
								</div>
								<button class="button" type="submit" id="search-goods">Применить</button>
							</form>
						</div>
						<div class="form">
							<form name="search_explain">
								<div class="form__item">
									<label for="formName" class="form__label">Статистика обработки запросов:</label>
								</div>
								<button class="button" type="submit" id="search-explain">Развернуть</button>
							</form>
						</div>
					</div>
					<div class="charts">
						<div class="chart">
							<div id="chart-category"></div>
							<div class="products">
								<ul class="products_list"></ul>
							</div>
						</div>
						<div class="chart">
							<div id="chart-goods"></div>
							<div class="product">
								
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

	<script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
	<script src="/script.js"></script>
</body>

</html>